<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

div{
	/* 테두리 설정 */
	border: 1px solid black;

	/* 배치 흐름 설정 */
	float: right;/* 오른쪽 정렬 */ 
	
	/* 안에 있는 컨텐츠에 적용되는 것 */
	white-space: pre;
}

div:first-child{
	width: 200px;
	height: 200px;
}

</style>

</head>
<body>

<div>DIV1 안녕하세요</div>
<div>DIV2 안녕하세요 DIV2 안녕하세요 DIV2 안녕하세요</div>
<div>DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요</div>

<p>그들을 못할 살 뜨거운지라, 없으면 청춘 그들은 꽃 뭇 때문이다. 우리는 것은 내려온 인생에 같은 없는 있으랴? 내려온 가진 청춘의 없으면, 천자만홍이 내는 청춘의 역사를 인생에 교향악이다. 뭇 설산에서 가진 품었기 것이다. 그들은 따뜻한 피고 꾸며 오직 아니한 교향악이다. 행복스럽고 보이는 기쁘며, 실현에 쓸쓸하랴? 무엇을 끓는 별과 구하기 거친 원질이 오직 칼이다. 그들의 이는 역사를 뜨고, 목숨을 청춘의 피어나는 용감하고 보라. 열락의 얼마나 무엇을 물방아 그림자는 사는가 희망의 끓는다.</p>

<p>속에서 가슴이 봄바람을 있으랴? 사람은 가는 발휘하기 풍부하게 못할 때에, 아니다. 이상 인생을 이성은 듣는다. 생의 싸인 열락의 영락과 열매를 싹이 심장은 사랑의 대한 교향악이다. 않는 인간의 간에 새가 싸인 가치를 그와 피가 꽃이 위하여서. 뜨거운지라, 피가 눈에 인간은 영락과 우리 길을 힘있다. 아니더면, 사랑의 보이는 힘있다. 피부가 산야에 하는 있을 끓는 목숨을 같은 이상의 부패뿐이다. 생의 미묘한 피고 그들의 현저하게 끝까지 노년에게서 이상의 이것이다.</p>

</body>
</html>