<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

ul{
	list-style-type: none;
	
	width: 980px;
}

li{
	float: left;
	
	margin: 10px;
	padding: 5px;
	
	text-decoration: blink;
}


</style>
</head>
<body>

<!-- 머리글 -->
<header>
<h1>SEMANTIC TAG LAYOUT</h1>
<h3>시맨틱 태그</h3>
</header>

<hr>

<!-- 네비게이션 -->
<nav>
<ul>
	<li><a href="#">&lt;header 태그&gt;</a></li>
	<li><a href="#">&lt;nav 태그&gt;</a></li>
	<li><a href="#">&lt;aside 태그&gt;</a></li>
	<li><a href="#">&lt;section 태그&gt;</a></li>
	<li><a href="#">&lt;article 태그&gt;</a></li>
	<li><a href="#">&lt;footer 태그&gt;</a></li>
</ul>
</nav>

<hr>

<section>
<article>
	<p>내용물을 적는 곳! 기본 콘텐츠가 들어감</p>
	
	<div class="imgBox">
		<img alt="무지개" src="../file/rainbow.JPG" style="width: 300px; height: 200px;">
	</div>
</article>
</section>

<hr>

<footer style="font-size: 0.8em; text-align: center">
powered by DY<br>
&copy; DY
</footer>

</body>
</html>