<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

#wrap > div{
	width: 150px;
	
	height: 150px;
	border: 1px solid black;
	
	display: inline-block;
	
	margin: 20px;/* margin이 겹치지 않고 밀어낸다 마치 float처럼*/
	padding: 10px;
}

#wrap{
	text-align: center;
	
	width: 960px;
	margin: 0 auto;
	
	border: 1px solid #ccc;
}

</style>


</head>
<body>

<div id="wrap">
	<div>DIV1 DIV1</div>
	<div>DIV2 DIV2</div>
	<div>DIV3 DIV3</div>
	<div>DIV4 DIV4</div>
	<div>DIV5 DIV5</div>
</div>

</body>
</html>