<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

div{
	width: 300px;
	height: 200px;
	
	border: 1px solid #ccc;
	
	padding: 5px;
	margin: 10px;
	
	float: left; /* 플롯을 주면 div도 margin이 겹치지 않는다 */
}

#visible{ overflow: visible; }
#hidden { overflow: hidden; }
#scroll { overflow: scroll;}

img{ 
	width: 500px;
	height: auto;
	overflow: auto; }

</style> 

</head>
<body>


<div id="visible">
<p>보이는 안고, 유소년에게서 따뜻한 못하다 두기 그것을 목숨을 부패뿐이다. 열락의 불어 위하여 가는 내려온 눈이 낙원을 것이다. 어디 보내는 뜨고, 고행을 새가 것이다. 없는 끝에 인간은 커다란 동력은 눈이 사막이다. 풍부하게 희망의 목숨을 꾸며 따뜻한 황금시대다. 불러 그들에게 같은 쓸쓸한 피어나는 충분히 수 보라. 커다란 그들에게 찾아다녀도, 약동하다. 고행을 천하를 얼마나 그리하였는가? 영락과 가치를 바이며, 용감하고 이 예가 청춘에서만 그들의 있으랴? 위하여서 어디 가는 곳으로 이것을 오아이스도 용감하고 인생을 사람은 이것이다.</p>
</div>

<div id="hidden">
<p>그들은 없으면, 실현에 것이다. 인생에 있는 앞이 현저하게 피고, 내려온 용감하고 들어 황금시대다. 낙원을 안고, 열매를 힘차게 위하여서. 대고, 같으며, 용감하고 목숨을 꾸며 용기가 인생을 위하여서, 그러므로 철환하였는가? 뼈 지혜는 원대하고, 보배를 싹이 그들의 싶이 웅대한 산야에 아름다우냐? 힘차게 이성은 부패를 새가 끝에 뜨고, 용기가 끓는 투명하되 약동하다. 뭇 두손을 스며들어 더운지라 청춘이 싸인 불러 가는 평화스러운 보라. 끓는 그러므로 것은 가진 피에 온갖 노래하며 얼음에 얼마나 것이다. 그것을 봄날의 그것은 우리의 아니다.</p>
</div>

<div id="scroll">
<p>기관과 봄바람을 우는 피에 피다. 예가 물방아 넣는 갑 이상의 힘있다. 힘차게 밥을 따뜻한 구하지 갑 뭇 대중을 무한한 이것이다. 위하여서 구하지 내는 예수는 가치를 찬미를 것이다. 품에 놀이 때에, 안고, 보이는 우리 곳으로 쓸쓸하랴? 인간에 끝까지 바로 그들의 생명을 피다. 희망의 그것은 뭇 따뜻한 할지니, 가치를 곳으로 못할 풀밭에 때문이다. 위하여 없으면, 생명을 원질이 심장은 목숨이 뜨고, 방지하는 우리 피다. 밝은 위하여서, 뜨거운지라, 피는 용감하고 이상, 따뜻한 칼이다. 하는 풀이 웅대한 피고, 꽃이 그들은 오아이스도 이상은 같지 있다.</p>
</div>

<div>
<img alt="rianbow" src="../file/rainbow.JPG">
</div>



</body>
</html>