<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

div{
	width: 250px;
	border: 1px solid #ccc;
}

span{
	border: 1px solid red;
	/* 테두리는 인라인에 적절하지 않음 */
	
	width: 100px;
	height: 100px;
	/* 적용되지 않음 */

	line-height: 1.8em;
	/* 기본값이 기본 폰트의 1.35em */
	
	font-size: 16px;
	
	padding: 5px;
	/* 줄간격과 함께 조절해줄 것 */
	
	margin: 30px;
	/* 상하는 적용되지 않음 */
}




</style>


</head>
<body>

<div>
	<span>SPAN1</span>
	<span>SPAN2</span>
	<span>SPAN3SPAN3SPAN3 SPAN3SPAN3SPAN3</span>
</div>

</body>
</html>