<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

.relative{ 
	position: relative; 
	
	/* float과 비슷한 상황, relative가 absolute를 감싸지 못하고 기준점만 돼줌 */
	border: 1px solid green;	
	
	/* 고정값으로 직접 크기 주기, 좋지 않다 */
/* 	height: 800px; */


}

div[class^="content"]{ position: absolute; }

.content1{
	width: 68%;
	left: 0;
	
	border: 1px solid red;
}

.content2{
	width: 28%;
	right: 0;
	
	border: 1px solid blue;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	
}

</style>

</head>
<body>

<div class="wrapper">
	<h1>POSITION 테스트</h1>
	<h3>Relative, Absolute</h3>
	<hr>
	
	<div class="relative">
		<div class="content1">
			<h2>산야에 피부가 불러 아니더면,</h2>
			<p> 길을 생명을 끝에 교향악이다. 불어 얼마나 그들의 할지니, 든 것이다. 못할 자신과 이 그림자는 방지하는 피고 있는가? 소금이라 천자만홍이 청춘의 같이, 아니한 우리 황금시대다. 끓는 우리 아니더면, 방지하는 미묘한 이상이 얼마나 있다. 풍부하게 공자는 미인을 없으면 피가 쓸쓸한 것이다. 힘차게 타오르고 아름답고 길지 동산에는 쓸쓸하랴? 주는 청춘이 그러므로 인간에 인간의 생명을 것이다. 지혜는 바이며, 이상, 온갖 것이다.</p>
			<p>하는 꽃이 주는 끓는 이 그러므로 품었기 노년에게서 꽃 힘있다. 트고, 풍부하게 그러므로 타오르고 심장은 설레는 보라. 원질이 군영과 남는 힘있다. 노래하며 청춘의 웅대한 불어 수 듣기만 부패뿐이다. 피고 창공에 이것이야말로 청춘의 웅대한 이것이다. 귀는 열락의 영원히 새 청춘의 못할 것이다. 불어 이상은 자신과 찬미를 곳으로 무한한 열락의 인생에 대한 칼이다. 거선의 구할 오아이스도 청춘의 청춘에서만 꽃이 실로 앞이 그들에게 있는가? 피는 보내는 창공에 우리 꽃이 찾아다녀도, 방황하였으며, 싶이 것이다. 앞이 가장 할지니, 대고, 때문이다.</p>
		</div>
		<div class="content2">
			<h2>되려니와, 할지니,</h2>
			<p>평화스러운 피부가 무엇이 밥을 청춘의 운다. 장식하는 그들을 자신과 원질이 아니다. 이 따뜻한 노년에게서 물방아 가치를 사막이다. 속잎나고, 인간은 힘차게 앞이 부패뿐이다. 청춘 피어나기 커다란 두기 하는 넣는 것은 인간이 튼튼하며, 피다. 모래뿐일 가는 고행을 낙원을 사랑의 구하지 힘차게 따뜻한 사막이다. 인간의 같은 않는 풍부하게 끓는 시들어 이것이다. 우리는 수 뜨거운지라, 것이다. 피가 듣기만 동산에는 긴지라 바이며, 있다. 원질이 영원히 인간이 노래하며 그들	을 많이 그리하였는가?</p>
			<p>열락의 풀이 아니더면, 광야에서 새가 꽃이 위하여, 봄바람이다. 날카로우나 이 피는 주며, 것이다. 때에, 하여도 더운지라 천자만홍이 낙원을 가지에 것이다. 이것은 실현에 인도하겠다는 가지에 눈이 천하를 교향악이다. 되는 얼음 살았으며, 내려온 오직 가는 인간의 이상의 쓸쓸하랴? 얼음 기쁘며, 살았으며, 가슴에 바이며, 피는 어디 것이다. 희망의 자신과 보는 대한 그림자는 위하여 이상은 피다. 인생에 아니한 불러 것이다. 있으며, 거선의 관현악이며, 운다. 낙원을 주며, 오직 풀이 보라.</p>
		</div>
	</div>
</div>

</body>
</html>