<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

div{
	/* 테두리 설정 */
	border: 1px solid black;

	/* 배치 흐름 설정 */
	float: right;/* 오른쪽 정렬 */
}

div:first-child{
	width:200px;
	height: 200px;
}

</style>

</head>
<body>

<div>DIV1 안녕하세요</div>
<div>DIV2 안녕하세요 DIV2 안녕하세요 DIV2 안녕하세요</div>
<div>DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요 DIV3 안녕하세요</div>

<p>어디 무엇이 피가 착목한는 불어 꽃이 원대하고, 넣는 힘있다. 생의 굳세게 바이며, 과실이 얼마나 가슴에 있으랴? 넣는 있으며, 얼마나 석가는 사막이다. 붙잡아 불어 품에 속에 것은 광야에서 든 것이다. 곧 때까지 이상의 대한 웅대한 과실이 같이, 못하다 생의 것이다. 무엇을 청춘에서만 쓸쓸한 황금시대다. 하여도 이상은 별과 과실이 없으면 것은 이상의 것이 그리하였는가? 일월과 방황하였으며, 충분히 있을 어디 찾아다녀도, 붙잡아 봄바람이다. 군영과 가치를 품으며, 인간의 있으며, 끝에 있으랴? 오직 우리의 살 봄바람이다.</p>

<p>눈이 이것을 동산에는 지혜는 바로 더운지라 있는가? 고동을 과실이 찾아다녀도, 간에 보이는 실현에 이것이다. 두기 우리의 영원히 돋고, 것은 피다. 길을 생명을 인생을 석가는 미인을 것이다. 귀는 희망의 설산에서 몸이 그들은 얼마나 그들은 많이 황금시대다. 같지 맺어, 못할 따뜻한 인생을 약동하다. 같으며, 별과 따뜻한 있는 있다. 방황하여도, 것은 속에 피어나기 설레는 청춘이 청춘의 수 봄바람이다. 가치를 품에 인간이 풀이 실로 영원히 가진 목숨이 끓는 교향악이다.</p>

</body>
</html>