<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
img{
	/* 이미지 크기 설정 */
	width: 300px;
	height: 200px;
	
	/* 배치 흐름 왼쪽으로 설정 */
	float: left;
}

p.clearfix{
	clear: both;
}

</style>


</head>
<body>

<!-- 인라인 요소 -->
<img alt="flower" src="../file/flower.jpg">


<!-- 블락 요소 -->
<p>얼음 낙원을 방황하였으며, 아니다. 위하여, 품었기 것은 몸이 풀이 사막이다. 이상의 뛰노는 불어 뭇 이것을 하여도 그들은 우리 많이 것이다. 못할 이는 그것은 품었기 것은 있을 원대하고, 품에 운다. 유소년에게서 피가 피에 사막이다. 가는 그러므로 그들의 아니한 듣는다. 돋고, 힘차게 가는 영락과 그들에게 듣는다. 청춘이 그들에게 피어나기 풍부하게 속에서 커다란 되려니와, 관현악이며, 속에 때문이다. 주며, 있으며, 피부가 얼마나 몸이 사랑의 발휘하기 청춘의 대한 아름다우냐? 인류의 장식하는 기관과 가치를 수 보라. 오아이스도 풍부하게 이상은 행복스럽고 이상의 예수는 없으면 듣는다.</p>

<p class="clearfix">밝은 속에서 귀는 작고 용기가 이상의 말이다. 너의 영락과 청춘을 그리하였는가? 청춘의 가치를 인생에 이것이다. 피어나는 우리 피고, 있으며, 따뜻한 그리하였는가? 얼마나 풀이 피가 이상을 할지니, 지혜는 청춘의 크고 약동하다. 용기가 놀이 품에 구할 품고 봄날의 동산에는 이 두기 위하여서. 인생에 꾸며 원대하고, 것은 위하여서. 투명하되 가지에 인도하겠다는 기관과 석가는 철환하였는가? 새 가진 노래하며 청춘을 별과 기쁘며, 그들의 이상, 것은 황금시대다. 우리 내려온 기쁘며, 청춘의 이상은 철환하였는가? 끓는 든 길지 커다란 작고 두기 물방아 산야에 사막이다.</p>

<p>가슴에 것은 얼음에 이는 소리다.이것은 원대하고, 그들의 거친 것이다. 보이는 청춘의 용기가 끝에 미묘한 않는 그들의 같이, 새가 듣는다. 때까지 우는 그것은 우리 없으면 보이는 속에 보내는 것이다. 살았으며, 심장은 꾸며 대고, 힘차게 굳세게 커다란 않는 아니다. 실로 새 심장은 것이다. 곳이 듣기만 모래뿐일 청춘에서만 산야에 있는가? 그들은 인도하겠다는 보이는 것은 인류의 이상이 황금시대다. 이는 심장의 눈이 심장은 영락과 방지하는 자신과 이 보라. 피어나는 유소년에게서 이상 운다.</p>

</body>
</html>